td {
    padding: 10px 0;
}


/* table,
td {
    border: 1px solid black;
} */

td.buttons {
    text-align: right;
    padding: 0 0 30px;
    margin: 0;
    vertical-align: bottom;
}

#table-collapse {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgba(120, 120, 120, 10)
}

h1.history_page {
    font-size: 30px;
}

.title_history {
    font-family: "raleway-extrabold";
    padding: 5px 0;
    font-size: 24px;
    color: rgb(30, 30, 30);
}

.schedule {
    font-family: "raleway-bold";
    color: rgb(60, 60, 60);
    padding: 5px 0;
    font-size: 16px;
}

.submitted {
    font-family: "raleway-bold";
    color: gray;
    font-size: 14px;
    padding: 5px 0;
}

.poster_history {
    width: 140px;
    border-radius: 10px;
    margin: 5px 15px 5px 0;
}