#register-btn {
    margin: 25px auto;
}

#register-btn:disabled {
    background-color: darkgrey;
}

#register-btn:enabled {
    background-color: #00c1ea;
}

.warning {
    margin-top: 5px;
    color: crimson;
}

#profile-picture {
    display: none;
}

#profile-picture-label {
    margin-left: 10px;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 9px;
    margin-bottom: 0;
}